.task-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.task-item.completed {
  background-color: var(--completed-color);
}

.task-content {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  margin-right: 20px;
}

.task-content input[type="checkbox"] {
  margin-right: 15px;
  margin-top: 3px;
}

.task-details {
  flex-grow: 1;
}

.task-text {
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 1.4;
  word-break: break-word;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

/* Styles for completed tasks */
.task-item.completed .task-text  {
  text-decoration: line-through;
  color: #b4b4b4;
}

.task-item.completed .author  { 
  color: #b4b4b4;
}

.task-item.completed .timestamp  { 
  color: #b4b4b4;
}

.task-meta {
  font-size: 12px;
  color: #666;
}

.task-meta .author {
  margin-right: 10px;
}

.task-actions {
  display: flex;
  flex-direction: column;
}

.task-actions button {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: var(--accent-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-actions button:hover {
  background-color: var(--secondary-color);
}

.task-actions button:last-child {
  margin-bottom: 0;
}
