.task-board {
  background-color: #fdfdfd;
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: var(--box-shadow);
  width: 100%;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  .task-board {
    padding: 10px;
  }
}
